.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    background-color: #575757;
}
.center {
    text-align: center;
}
.sidebar {
    position: fixed;
    width: 15vw;
}
.side {
    padding: 0;
    padding-left: 10px;
}
.profile-pic-side {
    width: 100px;
}
.main-content, .sidebar {
    margin-top: 8vh;
    margin-bottom: 40px;
}
.personal {
    background-color: #727272;
    border-radius: 5px;
}
.center-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#profile-btn {
    border-radius: 100%;
}
#profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}